{% extends 'layout.html' %}

{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->

      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="/v2/dashboard-neutral">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Go back</a>
      </div>


<h2 class="nhsuk-heading-l">PSAID PROM score</h2>
<p><b>Date completed:</b> 29/02/20 </p>
<p><b>Overall score:</b> 8.2 </p>

<div class="nhsuk-table-responsive">
  <table class="nhsuk-table">
    <caption class="nhsuk-table__caption">Detailed PROM score</caption>
    <thead class="nhsuk-table__head">
      <tr class="nhsuk-table__row">
        <th class="nhsuk-table__header" scope="col">Question</th>
        <th class="nhsuk-table__header" scope="col">Score</th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Q1. Pain</td>
        <td class="nhsuk-table__cell ">4</td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Q2. Fatigue</td>
        <td class="nhsuk-table__cell ">5</td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Q3. Skin problems</td>
        <td class="nhsuk-table__cell ">7</td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Q4. Work and/or leisure activites</td>
        <td class="nhsuk-table__cell ">3</td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Q5. Functional capacity</td>
        <td class="nhsuk-table__cell ">5</td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Q6. Discomfort</td>
        <td class="nhsuk-table__cell ">4</td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Q7. Sleep disturbance</td>
        <td class="nhsuk-table__cell ">4</td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Q8. Coping</td>
        <td class="nhsuk-table__cell ">7</td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Q9. Anxiety, fear and uncertainty</td>
        <td class="nhsuk-table__cell ">8</td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Q10. Embarrassment and/or shame</td>
        <td class="nhsuk-table__cell ">8</td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Q11. Social participation</td>
        <td class="nhsuk-table__cell ">5</td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Q12. Depression</td>
        <td class="nhsuk-table__cell ">5</td>
      </tr>
    </tbody>
  </table>
</div>



    <!-- test code
<p><a href="/test">Test page</a></p>

 -->

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
