{% extends 'layout.html' %}

{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->

      <p style= "border: 4px solid green; padding: 15px;">
        <svg class="notification-panel___icon" fill="#00703c" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
                          <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z"/>
                        </svg>
        Signed in successfully
      </p>

<h2 class="nhsuk-heading-l">Hello Patty</h2>

<p><b>D.O.B: </b> 30.12.1946 </p>
<p><b>NHS No: </b> 450 557 7104</p>

  <a href="/v2/add-new-prom-1">
    <button class="nhsuk-button nhsuk-button--secondary" type="submit">
      Add a new PROM
    </button>
  </a>

    <!-- test code
<p><a href="/test">Test page</a></p>

 -->

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
