{% extends 'layout.html' %}

{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        PROM Dashboard
      </h1>


  <!-- start of patient details -->
        <div class="nhsuk-do-dont-list">
        <h3 class="nhsuk-do-dont-list__label">Patient details</h3>

        <dl class="nhsuk-summary-list nhsuk-summary-list--no-border">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Name
            </dt>
            <dd class="nhsuk-summary-list__value">
              Karen Francis
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="#">
                Change<span class="nhsuk-u-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="nhsuk-summary-list__value">
              15 March 1984
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="#">
                Change<span class="nhsuk-u-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Contact information
            </dt>
            <dd class="nhsuk-summary-list__value">
              73 Roman Rd<br>Leeds<br> LS2 5ZN
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="#">
                Change<span class="nhsuk-u-visually-hidden"> contact information</span>
              </a>
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Contact details
            </dt>
            <dd class="nhsuk-summary-list__value">
              <p>07700 900362</p>
              <p>karen.francis@example.com</p>
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="#">
                Change<span class="nhsuk-u-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
        </dl>
      </div>

      <!-- end of patient details -->


<div class="nhsuk-do-dont-list">
<h3 class="nhsuk-do-dont-list__label">Prom records</h3>
<div class="nhsuk-table-responsive">
  <table class="nhsuk-table">
    <caption class="nhsuk-table__caption">Skin symptoms and possible causes</caption>
    <thead class="nhsuk-table__head">
      <tr class="nhsuk-table__row">
        <th class="nhsuk-table__header" scope="col">Week number</th>
        <th class="nhsuk-table__header" scope="col">Prom status</th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">42</td>
        <td class="nhsuk-table__cell "><a href="/v1/gad7-1"><span class="nhsuk-tag">new</span></a></td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">41</td>
        <td class="nhsuk-table__cell "><span class="nhsuk-tag" style=" background: green">complete</span></td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">40</td>
        <td class="nhsuk-table__cell" ><span class="nhsuk-tag" style=" background: green">complete</span></td>
      </tr>
    </tbody>
  </table>
</div>




      <!-- End of content -->

    </div>
  </div>
{% endblock %}
