{% extends 'layout.html' %}

{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <!-- Change the page title here -->
    <h1>
      GAD-7 Anxiety
    </h1>


  <h3>Summary</h3>

  <div class="nhsuk-warning-callout">
  <h3 class="nhsuk-warning-callout__label">Your result</h3>
<h2>Score: 14</h2>
  <p>You scored 14 on the GAD7 test, this indicates modernately severe anxiety</p>
</div>

<a href="/v1/landing-page">
  <button class="nhsuk-button nhsuk-button--secondary" type="submit">
    Back to your dashboard
  </button>
</a>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
