{% extends 'layout.html' %}

{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        Promenade app
      </h1>

<p>Patient facing prototypes of the Promenade app</p>

<div class="nhsuk-table-responsive">
  <table class="nhsuk-table">
    <caption class="nhsuk-table__caption">Prototype version</caption>
    <thead class="nhsuk-table__head">
      <tr class="nhsuk-table__row">
        <th class="nhsuk-table__header" scope="col">Prototype version</th>
        <th class="nhsuk-table__header" scope="col">Link to research</th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell"><a href="/v1/landing-page">Version 1</a></td>
        <td class="nhsuk-table__cell "><a href="#">Link goes here</a></td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">–</td>
        <td class="nhsuk-table__cell ">–</td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">–</td>
        <td class="nhsuk-table__cell ">–</td>
      </tr>
    </tbody>
  </table>
</div>


    <!-- test code
<p><a href="/test">Test page</a></p>

 -->

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
