
{% extends 'layout.html' %}

{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

      <h1>
        Promenade app - test page
      </h1>
<div class="nhsuk-width-container-fluid">

<p>cards</p>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-half">
      <div class="nhsuk-care-card nhsuk-care-card--non-urgent" >
        <div class="nhsuk-care-card__heading-container">
          <h3 class="nhsuk-care-card__heading" ><span role="text"><span class="nhsuk-u-visually-hidden">Non-urgent advice: </span>Speak to a GP if:</span></h3>
          <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
        </div>
        <div class="nhsuk-care-card__content">

          <ul>
            <li>you're not sure it's chickenpox</li>
            <li>the skin around the blisters is red, hot or painful (signs of infection)</li>
            <li>your child is <a href="https://www.nhs.uk/conditions/dehydration">dehydrated</a></li>
            <li>you're concerned about your child or they get worse</li>
          </ul>
          <p>Tell the receptionist you think it's chickenpox before going in. They may recommend a special appointment time if other patients are at risk.</p>

        </div>
      </div>
    </div>

    <div class="nhsuk-grid-column-one-half">
        <div class="nhsuk-care-card nhsuk-care-card--non-urgent">
          <div class="nhsuk-care-card__heading-container">
            <h3 class="nhsuk-care-card__heading"><span role="text"><span class="nhsuk-u-visually-hidden">Non-urgent advice: </span>Speak to a GP if:</span></h3>
            <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
          </div>
          <div class="nhsuk-care-card__content">

            <ul>
              <li>you're not sure it's chickenpox</li>
              <li>the skin around the blisters is red, hot or painful (signs of infection)</li>
              <li>your child is <a href="https://www.nhs.uk/conditions/dehydration">dehydrated</a></li>
              <li>you're concerned about your child or they get worse</li>
            </ul>
            <p>Tell the receptionist you think it's chickenpox before going in. They may recommend a special appointment time if other patients are at risk.</p>

          </div>
        </div>
      </div>






      <!-- End of content -->

    </div>
  </div>

  </div>
{% endblock %}
